{% extends "aplicacion/baseadmin.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Producto -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <!-- Título del formulario -->
                    <h2>Agregar Zapatilla</h2>
                    
                    <!-- Mensajes de error -->
                    {% if zapatilla_form.errors or stock_form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in zapatilla_form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for field, errors in stock_form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                    <!-- Formulario para agregar productos -->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ zapatilla_form|crispy }}
                        {{ stock_form|crispy }}
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Termino sección producto -->
    <script src="{% static "aplicacion/js/validareditar.js" %}"></script>
{% endblock content %}