{% extends "aplicacion/baseadmin.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <h3>Editar Pedido</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <h4>Zapatillas en el Pedido</h4>
        <div class="form-group">
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form|crispy }}
            {% endfor %}
        </div>
        <a class="btn btn-outline-primary" href='{% url "listaPedidos" %}' >Volver</a>
        <button type="submit" class="btn btn-primary">Actualizar Pedido</button>
    </form>
</div>
{% endblock %}