{% extends "aplicacion/base.html" %}
{% load static %}

{% block content %}
<!--Hero Section-->
<header>
    <div id="carouselHero" class="carousel slide container">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static "aplicacion/img/header1.webp" %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static "aplicacion/img/header1.webp" %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</header>

<!-- Carrusel de productos -->
<section>
    <div class="container">
        <h3>Nike</h3>
    </div>
    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-wrapper container-sm d-flex  justify-content-around">
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src=" {% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-wrapper container-sm d-flex   justify-content-around">
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-wrapper container-sm d-flex  justify-content-around">
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev d-none d-lg-block" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next d-none d-lg-block" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</section>

<!-- Otro carrusel de productos -->
<section>
    <div class="container">
        <h3>Nike</h3>
    </div>
    <div id="carouselExampleControls2" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-wrapper container-sm d-flex  justify-content-around">
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-wrapper container-sm d-flex   justify-content-around">
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-wrapper container-sm d-flex  justify-content-around">
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                    <a href="producto.html">
                        <div class="card" style="max-width: 18rem;">
                            <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Air Max Pulse</h5>
                                <p class="card-text text-body-secondary">Nike</p>
                                <p class="card-text precio">$150.000</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev d-none d-lg-block" type="button"
                data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next d-none d-lg-block" type="button"
                data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</section>

<!-- Populares -->
<section>
    <div class="container">
        <h3 class="categorias-populares-title">Popular ahora</h3>
        <div class="categorias-container row">
            <a class="col-12 col-md-4 " href="categoria.html">
                <div class="categorias-populares">gazelle</div>
            </a>
            <a class="col-12 col-md-4 " href="categoria.html">
                <div class="categorias-populares">yeezy</div>
            </a>
            <a class="col-12 col-md-4 " href="categoria.html">
                <div class="categorias-populares">air max</div>
            </a>
            <a class="col-12 col-md-4 " href="categoria.html">
                <div class="categorias-populares">nmd</div>
            </a>
            <a class="col-12 col-md-4 " href="categoria.html">
                <div class="categorias-populares">air jordan</div>
            </a>
            <a class="col-12 col-md-4 " href="categoria.html">
                <div class="categorias-populares">forum</div>
            </a>
        </div>
    </div>
</section>

{% endblock content %}