{% extends "aplicacion/baseadmin.html" %}
{% load static %}

{% block content %}


<!-- Contenido de la página -->
<div class="container mt-5">
    <!-- Título del formulario -->
    <h3 class="text-center mb-4">Inicio de Sesión</h3>
    <!-- Formulario de inicio de sesión -->
    <form id="formulario" class="formulario col-12 col-md-6 mx-auto" action="admin.html" method="GET">
        <div class="mb-3">
            <label for="correo" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="correo" name="correo" required>
            <p id="errorCorreo" class="mensaje-error"></p>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <input type="checkbox" class="me-2" onclick="showPass()">Mostrar contraseña
            <p id="errorPassword" class="mensaje-error"></p>
        </div>
        <div class="mb-3">
            <p id="mensajeError" class="mb-3 mensaje-error"></p>
        </div>
        <div class="d-flex mb-3 align-items-center">
            <button type="" class="btn btn-dark me-auto">Iniciar sesión</button>
        </div>
        <div>
            <p>No tienes cuenta? <a href="{% url "registro" %}">Registrate aqui</a></p>
            <p>Olvidaste tu contraseña? <a href="{% url "recuperar" %}">Recuperala aqui</a></p>
        </div>
    </form>
</div>




<script src="assets/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
<script src="./assets/js/loginadmin.js"></script>
{% endblock content %}