{% extends "aplicacion/base.html" %}
{% load static %}

{% block imports %}
<link rel="stylesheet" href="{% static "aplicacion/css/perfil.css" %}">
{% endblock imports %}    

{% block content %}
<section>
    <div class="container">
        <h1>Hola, Usuario</h1>
        <div class="row mt-4">
            <div class="col-12 col-md-3 bg-light rounded">
                <!-- Menu lateral -->
                <div class="sidebar p-4 ">
                    <a href="{% url "perfil" %}">
                        <div class="">Datos personales</div>
                    </a>
                    <hr class="my-4" />
                    <a href="{% url "direcciones" %}">
                            <div class="">Direcciones</div>
                        </a>
                        <hr class="my-4" />
                        <a href="{% url "pedidos" %}">
                            <div class="">Pedidos</div>
                        </a>
                    </div>
                </div>
                
                <div class="col-12 col-md-8">
                    <h2>Mis Pedidos</h2>
                    <div class="order-card row mt-4 pb-3">
                        <div class="row p-3 rounded">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                
                                <h5><strong>Pedido #123456</strong></h5>
                            </div>
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <h5><strong>En camino</strong></h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                            <!-- Image -->
                            <div class="bg-image ripple rounded" data-mdb-ripple-color="light">
                                <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="w-100"
                                alt="Blue Jeans Jacket" />
                                <a href="#!">
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </div>
                        
                        <!-- Data -->
                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                            <p><strong>Nike Air Max Pulse</strong></p>
                            <p>Color: Negro</p>
                            <p>Talla: 40</p>
                        </div>
                        <!-- Data -->

                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                            <!-- Boton comprar de nuevo -->
                            <p class="text-start text-md-center">
                                <a href="{% url "producto" %}">    
                                    <button class="btn btn-dark">Comprar de nuevo</button>
                                </a>
                            </p>
                            <!-- Boton comprar de nuevo -->
                        </div>
                        
                        <!-- Divisor -->
                        <hr class="my-4" />
                        
                        <!-- Otro producto del mismo pedido -->
                        
                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                            <!-- Image -->
                            <div class="bg-image ripple rounded" data-mdb-ripple-color="light">
                                <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="w-100"
                                alt="Blue Jeans Jacket" />
                                <a href="#!">
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                            <!-- Data -->
                            <p><strong>Nike Air Max Pulse</strong></p>
                            <p>Color: Negro</p>
                            <p>Talla: 40</p>
                            <!-- Data -->
                        </div>
                        
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                            <!-- Boton comprar de nuevo -->
                            <p class="text-start text-md-center">
                                <a href="{% url "producto" %}">    
                                    <button class="btn btn-dark">Comprar de nuevo</button>
                                </a>
                            </p>
                            <!-- Boton comprar de nuevoado -->
                        </div>

                    </div>

                    <!-- Otro pedido -->
                    
                    <div class="order-card row mt-4 pb-3">
                        <div class="row p-3 rounded">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                
                                <h5><strong>Pedido #123456</strong></h5>
                            </div>
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <h5><strong>En camino</strong></h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                            <!-- Image -->
                            <div class="bg-image ripple rounded" data-mdb-ripple-color="light">
                                <img src="{% static "aplicacion/img/producto/producto1a.webp" %}" class="w-100"
                                alt="Blue Jeans Jacket" />
                                <a href="#!">
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </div>
                        
                        <!-- Data -->
                        <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                            <p><strong>Nike Air Max Pulse</strong></p>
                            <p>Color: Negro</p>
                            <p>Talla: 40</p>
                        </div>
                        <!-- Data -->
                        
                        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                            <!-- Boton comprar de nuevo -->
                            <p class="text-start text-md-center">
                                <a href="{% url "producto" %}">    
                                    <button class="btn btn-dark">Comprar de nuevo</button>
                                </a>
                            </p>
                            <!-- Boton comprar de nuevo -->
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock content %}