
{% block sidebar %}
<div class="col-12 col-md-3">
    <div class="sidebar bg-light rounded">
        <ul class="list-unstyled">
            <li class="p-3">
                <a href="{% url "perfil" usuario.rut %}">Datos personales</a>
            </li>
            <li class="p-3">
                <a href="{% url "direcciones" usuario.rut %}">Direcciones</a>
            </li>
            <li class="p-3">
                <a href="#pedidos">Pedidos</a>
            </li>
        </ul>
    </div>
</div>
{% endblock sidebar %}