{% extends "aplicacion/baseadmin.html" %}
{% load static %}

{% block content %}
    <!-- Pedidos -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Cliente</th>
                                    <th>Dirección</th>
                                    <th>Zapatillas</th>
                                    <th>Estado</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if entity %}
                                    {% for pedido in entity %}
                                        <tr>
                                            <td>{{ pedido.fecha|date:"d/m/Y H:i" }}</td>
                                            <td>{{ pedido.cliente.nombre }} {{ pedido.cliente.apellido }}</td>
                                            <td>{{ pedido.direccion }}</td>
                                            <td>
                                                {% for pz in pedido.pedidozapatilla_set.all %}
                                                    {{ pz.zapatilla.marca }} - {{ pz.zapatilla.modelo }} ({{ pz.cantidad }}){% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>{{ pedido.get_estado_display }}</td>
                                            <td>{{ pedido.total }}</td>
                                            <td> 
                                                <a href="" class="btn btn-dark">Detalles</a>
                                                <button class="btn btn-danger">Eliminar</button> 
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="7" class="text-center">No hay pedidos para mostrar</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        {% include "aplicacion/paginator.html" %}
    </div>
{% endblock content %}
